<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.803922</td>
      <td>0.820000</td>
      <td>0.811881</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.625000</td>
      <td>0.600000</td>
      <td>0.612245</td>
      <td>25.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.746667</td>
      <td>0.746667</td>
      <td>0.746667</td>
      <td>0.746667</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.714461</td>
      <td>0.710000</td>
      <td>0.712063</td>
      <td>75.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.744281</td>
      <td>0.746667</td>
      <td>0.745336</td>
      <td>75.000000</td>
    </tr>
  </tbody>
</table>