<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.709091</td>
      <td>0.928571</td>
      <td>0.804124</td>
      <td>42.000000</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.400000</td>
      <td>0.111111</td>
      <td>0.173913</td>
      <td>18.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.683333</td>
      <td>0.683333</td>
      <td>0.683333</td>
      <td>0.683333</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.554545</td>
      <td>0.519841</td>
      <td>0.489018</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.616364</td>
      <td>0.683333</td>
      <td>0.615061</td>
      <td>60.000000</td>
    </tr>
  </tbody>
</table>