<!DOCTYPE html>
<html lang="en">
  <title>The Quad++ Final Project</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <!-- Style -->
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif;
    }
    .w3-bar,
    h1,
    button {
      font-family: "Montserrat", sans-serif;
    }
    .fa-heart,
    .fa-coffee {
      font-size: 200px;
    }
  </style>
  <body>
    <!-- Navbar Reg Screen -->
    <div class="w3-top">
      <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a
          class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
          href="javascript:void(0);"
          onclick="myFunction()"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white"
          >Home</a
        >
        <a
          href="/link1"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Model</a
        >
        <a
          href="/link2"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Results</a
        >
        <a
          href="/viz"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Visualizations</a
        >
        <a
          href="/team"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Team</a
        >
      </div>

      <!-- Navbar on small screens -->
      <div
        id="navDemo"
        class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large"
      >
        <a href="/link1" class="w3-bar-item w3-button w3-padding-large"
          >Model</a
        >
        <a href="/link2" class="w3-bar-item w3-button w3-padding-large"
          >Results</a
        >
        <a href="/viz" class="w3-bar-item w3-button w3-padding-large"
          >Visualizations</a
        >
        <a href="/team" class="w3-bar-item w3-button w3-padding-large">Team</a>
      </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding: 64px 16px">
      <h1 class="w3-margin w3-jumbo">HEART DISEASE</h1>
      <p class="w3-xlarge">A ML Project by The Quad++</p>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Introduction:</h1>
          <h5 class="w3-padding-32">
            We started this project by identifying our dataset. Finding data
            that could be used readily for machine learning was key. After doing
            some research, we came upon the Heart Failure dataset and stuck with
            this one. Out of all the diseases and conditions in the world, heart
            failure leads in death totals annually. This condition continues to
            be a struggle for many, and now we can use our machine learning
            technology to help pinpoint correlations of cause and possibly
            suggest opportunities for physicians to monitor in the future.
          </h5>

          <p class="w3-text-grey">
            With roughly 300 patients and about a dozen factors, we take the
            individuals and relate their data with the others. The first
            contributing factor is age. Our patients range from 40-95. Next, we
            have whether the patient has anemia. Anemic patients might
            experience weakness or shortness of breath from the lack of oxygen
            deployed through the blood. The third measure is the amount of
            creatinine phosphokinase (CPK) enzyme present in the blood. Abnormal
            rates would be below 20 or above 300 depending on the patient’s
            gender. Diabetes is taken into consideration and determined for each
            patient. Ejection fraction is the next factor and certainly an
            important aspect. Patients with less than 40% ejection from the left
            ventricle are considered at high risk for heart failure.
            Hypertension is considered and listed for each patient. Platelet
            counts ranging from 150,000-450,000 seem to be in a normal range.
            This count considers how well the blood can clot. The higher the
            count, the more clotting is observed.
          </p>
        </div>

        <div class="w3-third w3-center">
          <i class="fa fa-heart w3-padding-64 w3-text-red"></i>
        </div>
      </div>
    </div>

          <!-- Why Models were Chosen | Section 2 -->
          <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">
          <h1>Heart Failure Prediction using Machine Learning</h1>
          <h6 class="w3-padding-16">
            We choose Logistic Regression as one of the models to fit our data,
            because the Heart Failure Data we analyze is comprised of a mix of
            categorical and numerical variables for input. It also yields one
            categorical output, which has "0" or "1" for an answer. Therefore,
            Logistic Regression seems to be a suitable model. Please see our
            data below:
          </h6>

          <div class="col-md-10">
            <div id="table-area" class="">
              <table id="heart-table" class="table table-striped" style="border: 1px solid rgb(78, 77, 77); width: 1000px; text-align: center">
                <thead>
                  <tr>
                    <th class="table-head">Age</th>
                    <th class="table-head">Anaemia</th>
                    <th class="table-head">Creatinine Phosphokinase</th>
                    <th class="table-head">Diabetes</th>
                    <th class="table-head">Ejection Fraction</th>
                    <th class="table-head">High Blood Pressure</th>
                    <th class="table-head">Platelets</th>
                    <th class="table-head">Serum Creatinine</th>
                    <th class="table-head">Serum Sodium</th>
                    <th class="table-head">Sex</th>
                    <th class="table-head">Smoking</th>
                    <th class="table-head">Follow-Up Period</th>
                    <th class="table-head">Death Event</th>
                  </tr>
                </thead>
                <tbody class="heart-table"></tbody>
              </table>
            </div>
          </div>

          <h6 class="w3-padding-16">
            There are approximately 300 rows in our dataset. Next step is to
            build a model and then test it. First, we split our data set into
            training and test data. Then we fit the training data into our
            model. Secondly, we make predictions using the test data. Based on
            the accuracy of these predictions, we calculate the efficiency of
            our model.
          </h6></div></div>

    <!-- <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="w3-margin w3-xlarge">
        Quote of the day: my heart will go on and on and on and on....
      </h1>
    </div> -->

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-center w3-opacity">
      <p>
        <a
          href="https://github.com/alexturkmen/Heart-Failure-Analysis"
          target="_blank"
          class="w3-hover-opacity"
          >Check out our code.</a
        >
      </p>
      <a
        href="#"
        class="w3-button w3-black w3-margin"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a
      >
    </footer>

    <script>
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
  </body>
</html>
