<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.682540</td>
      <td>0.86</td>
      <td>0.761062</td>
      <td>50.00</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.416667</td>
      <td>0.20</td>
      <td>0.270270</td>
      <td>25.00</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.640000</td>
      <td>0.64</td>
      <td>0.640000</td>
      <td>0.64</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.549603</td>
      <td>0.53</td>
      <td>0.515666</td>
      <td>75.00</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.593915</td>
      <td>0.64</td>
      <td>0.597465</td>
      <td>75.00</td>
    </tr>
  </tbody>
</table>