<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.702128</td>
      <td>0.785714</td>
      <td>0.741573</td>
      <td>42.000000</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.307692</td>
      <td>0.222222</td>
      <td>0.258065</td>
      <td>18.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.616667</td>
      <td>0.616667</td>
      <td>0.616667</td>
      <td>0.616667</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.504910</td>
      <td>0.503968</td>
      <td>0.499819</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.583797</td>
      <td>0.616667</td>
      <td>0.596520</td>
      <td>60.000000</td>
    </tr>
  </tbody>
</table>