<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.714286</td>
      <td>0.833333</td>
      <td>0.769231</td>
      <td>42.00</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.363636</td>
      <td>0.222222</td>
      <td>0.275862</td>
      <td>18.00</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.650000</td>
      <td>0.650000</td>
      <td>0.650000</td>
      <td>0.65</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.538961</td>
      <td>0.527778</td>
      <td>0.522546</td>
      <td>60.00</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.609091</td>
      <td>0.650000</td>
      <td>0.621220</td>
      <td>60.00</td>
    </tr>
  </tbody>
</table>