<!DOCTYPE html>
<html lang="en">
<title>The Quad++ Final Project</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- Style -->
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
  }

  .w3-bar,
  h1,
  button {
    font-family: "Montserrat", sans-serif;
  }

  .fa-heart,
  .fa-coffee {
    font-size: 200px;
  }


  h2.headertekst {
    text-align: center;
  }
</style>

<body>
  <!-- Navbar Reg Screen -->
  <div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
        href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      <a href="/link1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Model</a>
      <a href="/link2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Results</a>
      <a href="/viz" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Visualizations</a>
      <a href="/team" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Team</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="/link1" class="w3-bar-item w3-button w3-padding-large">Model</a>
      <a href="/link2" class="w3-bar-item w3-button w3-padding-large">Results</a>
      <a href="/viz" class="w3-bar-item w3-button w3-padding-large">Visualizations</a>
      <a href="/team" class="w3-bar-item w3-button w3-padding-large">Team</a>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-container w3-red w3-center" style="padding: 64px 16px">
    <h1 class="w3-margin w3-jumbo">RESULTS OF LOGISTIC REGRESSION</h1>
    <p class="w3-xlarge">A ML Project by The Quad++</p>
  </header>

  <!-- F1 Score | Section 3 -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <h1>Model Selection and Results</h1>
      <h6 class="w3-padding-16">
        The machine learning models for this analysis were selected to explore a range of classification algorithms to
        gauge which type would be most applicable for this problem. The problem of predicting death based on various
        health factors is a binary classification problem, so the classic models (i.e., Logistic Regression, K-Nearest
        Neighbors, Random Forest) were chosen. Additionally, a Multilayer Perceptron Classifier and Gaussian Naïve Bayes
        were selected to experiment with slightly fewer common algorithms. <br><br>

        We used an 80/20 test/train split for all models. After fitting the models using scikit-learn libraries in
        Jupyter Notebook, we calculated Precision, Recall, Accuracy, and F1-Score. We chose to use weighted-average for
        Precision, Recall, and F1-Score as this was decided to be a better indicator of model performance. All scores
        below are normalized to the max model score to clearly show the highest performing model for each metric.
        <br /><br />
        <a href="https://towardsdatascience.com/accuracy-precision-recall-or-f1-331fb37c5cb9" target="_blank">F1
          Score</a>
        <br />
        <h6 class="w3-padding-16">
          <b>All model scores listed below are relative to max performing model.</b> This was done because we were extremely limited with the size of our dataset, so we elected to not pursue creating a high performing model.
        </h6>
      </h6>

      <h2>All Feature Model Scores</h2>

      <p>
      <div class='tableauPlaceholder' id='viz1614730923837' style='position: relative'><noscript><a href='#'><img
              alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Al&#47;AllFeatures&#47;AllFeatures&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='AllFeatures&#47;AllFeatures' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Al&#47;AllFeatures&#47;AllFeatures&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
        </object></div>
      <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1614730923837'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
      </p>

      <h2>Patient Known Feature Model Scores</h2>

      <p>
      <div class='tableauPlaceholder' id='viz1614730801302' style='position: relative'><noscript><a href='#'><img
              alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;Patient-KnownFeatures&#47;Patient-KnownFeatures&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Patient-KnownFeatures&#47;Patient-KnownFeatures' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;Patient-KnownFeatures&#47;Patient-KnownFeatures&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
          <param name='filter' value='publish=yes' />
        </object></div>
      <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1614730801302'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
      </p>

      <div class="col-md-10"></div>

      <h6> <br />Due to the nature of what we are predicting, it was determined that a high recall value was the best
        predictor
        of performance. This is because you want the most correctly determined positive values since the outcome is
        relating to life and death. Using this metric, Logistic Regression performs best if you have access to the
        in-depth patient factors, while, surprisingly, the Multilayer Perceptron performs best if the patient only has
        factors that they themselves are aware of.</h6>

    </div>
  </div>

  <!-- F1 Score | Section 3 -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <h1>Sensitivity Studies</h1>
      <h6 class="w3-padding-16">
        <h2 class="headertekst">Here we look at the little graphs... </h2>

        <p style="text-align: center">
          <img src="/static/images/models/random_forest_sensitivity.png" alt="KNN Neighbors"
            style="width: 80%; padding-bottom: 20px" />
            <br /> <br />

            This allowed us to quickly see that for random forests, increasing the number of estimators past approximately
              60 did not improve model performance at all. Grabbing one of the peaks resulted in the number of estimators used
              being 88. 
              <br /> <br />

          <img src="/static/images/models/KNN_neighbors.png" alt="MLP" style="width: 80%; padding-bottom: 20px" />
          <br /> <br />
          For K-Nearest Neighbors, 3 is clearly the best option with the added benefit of being one of the
          shorter runtimes. 
          <br /> <br />
          
          <img src="/static/images/models/MLP_figure.png" alt="Random Forest"
            style="width: 80%; padding-bottom: 20px" />
          <br /> <br />
          Multilayer Perceptron was more challenge to extract value from the sensitivity study. We already know that the
          model is extremely sensitive to data scaling, and individual runs with the same layer settings showed that max
          value scaling was the best performer, so we did not iterate further than that. For layer settings, the
          sensitivity analysis showed it was also extremely sensitive. It was even different between All Features and
          Patient Known Features. It was eventually found that successively decreasing layer size tended to perform
          better, and layer profiles of (16,8,4,4) and (16,4,4) were selected for All Features and Patient Known Features,
          respectively.

        </p>

      </h6>

      <div class="col-md-10"></div>
    </div>
  </div>


  <!-- F1 Score | Section 3 -->
  <!-- <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <h1>Model Scores</h1> -->


      <!-- <h6 class="w3-padding-16">Please see the F1 score table below:</h6>

      <div class="col-md-10">
        <div id="table-area" class="">
          <table id="f1-table" class="table table-striped"
            style="border: 1px solid rgb(78, 77, 77); width: 1000px; text-align: center">
            <thead>
              <tr>
                <th class="table-head">Index</th>
                <th class="table-head">Precision</th>
                <th class="table-head">Recall</th>
                <th class="table-head">F1 Score</th>
                <th class="table-head">Support</th>
              </tr>
            </thead>
            <tbody class="f1-table"></tbody>
          </table>
        </div>
      </div> -->

      <!-- <h6 class="w3-padding-32">
        Unfortunately, our model has a F1 Score of 0.78 for weighted average
        which is not very strong. However, considering the total number of
        rows in our dataset, it is not a bad score. If more data becomes
        available in the future, there is a chance that this model will give
        a better F1 Score.
      </h6>
    </div> -->


    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-center w3-opacity">
      <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the
        top</a>
    </footer>

    <script>
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
</body>

</html>