<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.826087</td>
      <td>0.883721</td>
      <td>0.853933</td>
      <td>43.000000</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.642857</td>
      <td>0.529412</td>
      <td>0.580645</td>
      <td>17.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.783333</td>
      <td>0.783333</td>
      <td>0.783333</td>
      <td>0.783333</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.734472</td>
      <td>0.706566</td>
      <td>0.717289</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.774172</td>
      <td>0.783333</td>
      <td>0.776501</td>
      <td>60.000000</td>
    </tr>
  </tbody>
</table>