<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.911765</td>
      <td>0.7750</td>
      <td>0.837838</td>
      <td>40.0</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.653846</td>
      <td>0.8500</td>
      <td>0.739130</td>
      <td>20.0</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.800000</td>
      <td>0.8000</td>
      <td>0.800000</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.782805</td>
      <td>0.8125</td>
      <td>0.788484</td>
      <td>60.0</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.825792</td>
      <td>0.8000</td>
      <td>0.804935</td>
      <td>60.0</td>
    </tr>
  </tbody>
</table>