<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.882353</td>
      <td>0.750000</td>
      <td>0.810811</td>
      <td>40.000000</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.615385</td>
      <td>0.800000</td>
      <td>0.695652</td>
      <td>20.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.766667</td>
      <td>0.766667</td>
      <td>0.766667</td>
      <td>0.766667</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.748869</td>
      <td>0.775000</td>
      <td>0.753231</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.793363</td>
      <td>0.766667</td>
      <td>0.772425</td>
      <td>60.000000</td>
    </tr>
  </tbody>
</table>