<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.700000</td>
      <td>0.833333</td>
      <td>0.760870</td>
      <td>42.000000</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.300000</td>
      <td>0.166667</td>
      <td>0.214286</td>
      <td>18.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.633333</td>
      <td>0.633333</td>
      <td>0.633333</td>
      <td>0.633333</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.500000</td>
      <td>0.500000</td>
      <td>0.487578</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.580000</td>
      <td>0.633333</td>
      <td>0.596894</td>
      <td>60.000000</td>
    </tr>
  </tbody>
</table>