<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>living</th>
      <td>0.810811</td>
      <td>0.750000</td>
      <td>0.779221</td>
      <td>40.000000</td>
    </tr>
    <tr>
      <th>deceased</th>
      <td>0.565217</td>
      <td>0.650000</td>
      <td>0.604651</td>
      <td>20.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.716667</td>
      <td>0.716667</td>
      <td>0.716667</td>
      <td>0.716667</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.688014</td>
      <td>0.700000</td>
      <td>0.691936</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.728946</td>
      <td>0.716667</td>
      <td>0.721031</td>
      <td>60.000000</td>
    </tr>
  </tbody>
</table>