<!DOCTYPE html>
<html lang="en">
  <title>The Quad++ Final Project</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat"
  />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif;
    }
    .w3-bar,
    h1,
    button {
      font-family: "Montserrat", sans-serif;
    }
    .fa-heart,
    .fa-coffee {
      font-size: 200px;
    }
  </style>
  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a
          class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
          href="javascript:void(0);"
          onclick="myFunction()"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white"
          >Home</a
        >
        <a
          href="/link1"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >ML (Alex)</a
        >
        <a
          href="/link2"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >ML (Cam)</a
        >
        <a
          href="/viz"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Visualizations</a
        >
        <a
          href="/team"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >The Team</a
        >
      </div>

      <!-- Navbar on small screens -->
      <div
        id="navDemo"
        class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large"
      >
        <a href="/link1" class="w3-bar-item w3-button w3-padding-large"
          >ML (Alex)</a
        >
        <a href="/link2" class="w3-bar-item w3-button w3-padding-large"
          >ML (Cam)</a
        >
        <a href="/viz" class="w3-bar-item w3-button w3-padding-large"
          >Visualizations</a
        >
        <a href="/team" class="w3-bar-item w3-button w3-padding-large"
          >The Team</a
        >
      </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding: 64px 16px">
      <h1 class="w3-margin w3-jumbo">The Quad++ Team</h1>
      <p class="w3-xlarge">Connect With Your Contributors</p>
    </header>

    <!-- Team Section -->
    <div class="w3-container" style="padding: 64px 16px" id="team">
      <!-- <h3 class="w3-center">THE TEAM</h3>
      <p class="w3-center w3-large">The ones who runs this company</p> -->
      <div class="w3-row-padding w3-grayscale" style="margin-top: 64px">
        <!-- Team Member Ida -->
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="/static/images/the_team/ida.jpg"
              alt="Ida"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>Ida Astaneh</h3>
              <p class="w3-opacity">Tableau Guru</p>
              <p>
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p>
                <button
                  class="w3-button w3-light-grey w3-block"
                  onclick="window.open('https://github.com/iastanehasl')"
                >
                  <i class="fa fa-github-square"></i> GitHub
                </button>
              </p>
            </div>
          </div>
        </div>
        <!-- Team Member Alex -->
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="/static/images/the_team/alex.jpg"
              alt="Jane"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>Alex Turkmen</h3>
              <p class="w3-opacity">ML Director</p>
              <p>
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p>
                <button
                  class="w3-button w3-light-grey w3-block"
                  onclick="window.open('https://github.com/alexturkmen')"
                >
                  <i class="fa fa-github-square"></i> GitHub
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="/static/images/the_team/anis.jpg"
              alt="Mike"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>Anis Ali</h3>
              <p class="w3-opacity">Web Designer</p>
              <p>
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p>
                <button
                  class="w3-button w3-light-grey w3-block"
                  onclick="window.open('https://github.com/anisali01')"
                >
                  <i class="fa fa-github-square"></i> GitHub
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="/static/images/the_team/cameron.jpg"
              alt="Dan"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>Cameron Foster</h3>
              <p class="w3-opacity">X Factor</p>
              <p>
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p>
                <button
                  class="w3-button w3-light-grey w3-block"
                  onclick="window.open('https://github.com/BananasFoster623')"
                >
                  <i class="fa fa-github-square"></i> GitHub
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="/static/images/the_team/michael.jpg"
              alt="Dan"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>Michael Alread</h3>
              <p class="w3-opacity">Heart Doc</p>
              <p>
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p>
                <button
                  class="w3-button w3-light-grey w3-block"
                  onclick="window.open('https://github.com/malreadjr')"
                >
                  <i class="fa fa-github-square"></i> GitHub
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-center w3-opacity">
      <a href="#" class="w3-button w3-black w3-margin"
        ><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a
      >
    </footer>

    <script>
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
  </body>
</html>
