<!DOCTYPE html>
<html lang="en">
  <title>The Quad++ Final Project</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <!-- Style -->
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif;
    }
    .w3-bar,
    h1,
    button {
      font-family: "Montserrat", sans-serif;
    }
    .fa-heart,
    .fa-coffee {
      font-size: 200px;
    }
  </style>
  <body>
    <!-- Navbar Reg Screen -->
    <div class="w3-top">
      <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a
          class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
          href="javascript:void(0);"
          onclick="myFunction()"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white"
          >Home</a
        >
        <a
          href="/link1"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Model</a
        >
        <a
          href="/link2"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Results</a
        >
        <a
          href="/viz"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Visualizations</a
        >
        <a
          href="/team"
          class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          >Team</a
        >
      </div>

      <!-- Navbar on small screens -->
      <div
        id="navDemo"
        class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large"
      >
        <a href="/link1" class="w3-bar-item w3-button w3-padding-large"
          >Model</a
        >
        <a href="/link2" class="w3-bar-item w3-button w3-padding-large"
          >Results</a
        >
        <a href="/viz" class="w3-bar-item w3-button w3-padding-large"
          >Visualizations</a
        >
        <a href="/team" class="w3-bar-item w3-button w3-padding-large">Team</a>
      </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding: 64px 16px">
      <h1 class="w3-margin w3-jumbo">VISUALIZATIONS</h1>
      <p class="w3-xlarge">A ML Project by The Quad++</p>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-center w3-padding-32">
          <h1>Heart Failure Complications by Individual Factors</h1>
        </div>
        <div
          class="tableauPlaceholder"
          id="viz1614355753524"
          style="position: relative"
        >
          <noscript
            ><a href="http:&#47;&#47;127.0.0.1:5500&#47;"
              ><img
                alt=" "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Th&#47;TheQuadHeart2_0&#47;FinalStory&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="TheQuadHeart2_0&#47;FinalStory" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Th&#47;TheQuadHeart2_0&#47;FinalStory&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1614355753524");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-center w3-padding-32">
          <h1>Deaths by Year & State</h1>
        </div>
        <div
          class="tableauPlaceholder"
          id="viz1614355696534"
          style="position: relative"
        >
          <noscript
            ><a href="#"
              ><img
                alt=" "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Th&#47;TheQuadMap&#47;Dashboard1&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param
              name="path"
              value="views&#47;TheQuadMap&#47;Dashboard1?:language=en&amp;:embed=y&amp;:display_count=y&amp;publish=yes"
            />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Th&#47;TheQuadMap&#47;Dashboard1&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1614355696534");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-center w3-opacity">
      <a href="#" class="w3-button w3-black w3-margin"
        ><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a
      >
    </footer>

    <script>
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
  </body>
</html>
